---
---

<div class="about-us wrapper" id="about-us">
  <img src="/img/logo-image.png" alt="Aventuras del Habla" height='300px"' />
  <div class="text">
    <h3>Somos una plataforma diseñada para niños con trantornos del habla</h3>
    <p>
      Nuestro equipo conformado por <a
        href="https://www.linkedin.com/in/fiorela-huarcaya-gonzales/"
        target="_blank">Fiorela Huarcaya</a
      >
      y <a href="https://www.linkedin.com/in/gersonzz/" target="_blank"
        >Gerson Zuñiga.
      </a>

      <br />

      Nuestra aventura comenzó en <b>"La Hackathon Del Dev"</b>. Donde le dimos
      vida a nuestra idea: una plataforma que ofrece ejercicios especializados
      diseñados para mejorar la comunicación de los más jóvenes.

      <br />

      Nuestra visión a largo plazo es desarrollar una herramienta que también
      permita a padres y especialistas realizar un seguimiento continuo del
      progreso del niño, adaptando las actividades a sus necesidades específicas
      para un desarrollo óptimo. Para ofrecerte un vistazo de hacia dónde nos
      dirigimos, <a
        href="https://www.figma.com/proto/6KD6XXF6AUtrgyg1NVs7F2/Aventuras-del-Habla?type=design&node-id=502-2055&t=nwi9QNNcLxBCWVOS-1&scaling=min-zoom&page-id=107%3A2&starting-point-node-id=502%3A2055&mode=design"
      >
        te invitamos a explorar nuestro próximo diseño en Figma.
      </a>
    </p>
  </div>
  <!-- <button class="btn1"><p class="button-text">Inicia Sesión</p></button> -->
</div>

<style>
  .about-us {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
    gap: 64px;
  }

  .about-us .text {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    max-width: 30rem;
  }
</style>
