---
import Home from "./svgs/Home.astro";
import Game from "./svgs/Game.svelte";
---

<nav>
  <div class="items">
    <a href="/practice">
      <Home />
    </a>
    <a href="/practice">
      <Game />
    </a>
  </div>

  <style>
    nav {
      display: flex;
      width: 6rem;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .items {
      display: flex;
      width: 6rem;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }

    .items a {
      width: 100%;
      display: flex;
      padding: 0.5rem 1rem;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      font-size: 1rem;
      font-style: normal;
      font-weight: 600;
      line-height: 140%; /* 1.4rem */
    }

    .items a:hover {
      background: var(--primary-700);
    }
  </style>
</nav>
